<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FIPS Code API</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="main">
		{% render 'header.liquid' %}
		{% block content %}
		
		{% endblock %}
	</div>
</body>
</html>