html {
    font-size: .6rem;
}

.main {
    width: 65%;
    margin: 0 auto;
}

.header h1 {
    display: inline-block;
    font-weight: bold;
}

.responseDisplay {
    width: 30%;
    display: inline-block;
}

